@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Department

<div class="container">
    <form asp-controller="Admin" asp-action="@ViewBag.Action">
        <input type="text" class="form-control" id="departmentId" name="departmentId" hidden value="@(Model != null ? Model.DepartmentId : "")">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="departmentName">Service</label>
                <input type="text" class="form-control" name="departmentName" id="departmentName" value="@(Model != null ? Model.DepartmentName : "")">
                <p class="text-danger">@Html.ValidationMessageFor(m => m.DepartmentName)</p>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
</div>