@{
    ViewData["Title"] = "Page d'accueil";
}

<div class="container-sm mb-2">
    <div class="form-floating mb-3">
        <label for="Service">Nom</label>
        <input type="email" class="form-control" id="floatingInput" placeholder="Nom du salarié ...">
    </div>
    <a class="btn btn-primary" href="#" role="button">Rechercher</a>
</div>

<div class="container-sm mb-2">
    <div class="form-group">
        <label for="department">Service</label>
        <select class="form-control" id="department">
            @foreach (Department d in ViewBag.Departments)
            {
                <option value="@d.DepartmentId">@d.DepartmentName</option>
            }
        </select>
    </div>
    <a class="btn btn-primary" href="#" role="button">Rechercher</a>
</div>

<div class="container-sm mb-2">
    <div class="form-group">
        <label for="site">Site</label>
        <select class="form-control" id="site">
            @foreach (Site s in ViewBag.Sites)
            {
                <option value="@s.SiteId">@s.SiteName</option>
            }
        </select>
    </div>
    <a class="btn btn-primary" href="#" role="button">Rechercher</a>
</div>
